registry=https://pkgs.dev.azure.com/albatross-getnet/_packaging/albatross-artifacts/npm/registry/
always-auth=true
//pkgs.dev.azure.com/albatross-getnet/_packaging/albatross-artifacts/npm/registry/:username=albatross-getnet
//pkgs.dev.azure.com/albatross-getnet/_packaging/albatross-artifacts/npm/registry/:_password="eDZvaGQzeG9wdWt5aWhtbGtnMmd6aW14cTdka2FnN3JteGU0MjcyNTJub2RlamN4dnMyYQ=="
//pkgs.dev.azure.com/albatross-getnet/_packaging/albatross-artifacts/npm/registry/:email=npm requires email to be set but doesn't use the value
strict-ssl=false